.app_calculatorContainer{
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
    justify-content: center;
    height: auto;
    width: auto;
    box-sizing: border-box;
}

.app_calculatorContainer > button{
    cursor: pointer;
    font-size: 1.5rem;
    border: 2px solid black;
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);
}

.app_calculatorContainer > button:hover,
.app_calculatorContainer > button:focus{
    background-color: rgba(255, 255, 255, 0.9);
}

.span-two{
    grid-column: span 2;
}

.output{
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 0.75rem;
    word-wrap: break-word;
    word-break: break-all;
    
}

.output .previous-operand{
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

.output .current-operand{
    color: white;
    font-size: 2.5rem;
}